<div class="login-container">
  <p-toast></p-toast>
  
  <div class="login-card">
    <p-card styleClass="login-form-card">
      <ng-template pTemplate="header">
        <div class="login-header">
          <h2>Gestion de Pharmacie</h2>
          <h3>Connexion</h3>
        </div>
      </ng-template>
      
      <div class="login-form">
        <div class="p-fluid">
          <div class="p-field mb-3">
            <label for="username">Nom d'utilisateur</label>
            <span class="p-input-icon-left">
              <i class="pi pi-user"></i>
              <input 
                id="username" 
                type="text" 
                pInputText 
                [(ngModel)]="loginObj.username" 
                placeholder="Entrez votre nom d'utilisateur" 
                [disabled]="isLoading"
                required
              />
            </span>
          </div>
          
          <div class="p-field mb-4">
            <label for="password">Mot de passe</label>
            <span class="p-input-icon-left">
              <i class="pi pi-lock"></i>
              <input 
                id="password" 
                type="password" 
                pInputText 
                [(ngModel)]="loginObj.password" 
                placeholder="Entrez votre mot de passe" 
                [disabled]="isLoading"
                required
              />
            </span>
          </div>
          
          <button 
            pButton 
            type="button" 
            label="Se connecter" 
            icon="pi pi-sign-in" 
            (click)="onLogin()" 
            [loading]="isLoading" 
            class="p-button-primary w-100"
          ></button>
        </div>
      </div>
      
      <ng-template pTemplate="footer">
        <div class="login-footer">
          <p>© 2025 Gestion de Pharmacie. Tous droits réservés.</p>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>



