<div
  class="stat-card"
  [style.backgroundColor]="bgColor"
  [style.color]="textColor"
>
  <div class="card-icon-wrapper" [style.backgroundColor]="iconBgColor">
    <i class="bx {{ icon }} card-icon" [style.color]="iconColor"></i>
  </div>
  <div class="card-content">
    <span class="card-title">{{ title }}</span>
    <div class="card-value-row">
      <span class="card-value">{{ value }}</span>
      <span
        class="card-percentage"
        [class.positive]="percentageChange >= 0"
        [class.negative]="percentageChange < 0"
      >
        <i
          class="bx"
          [ngClass]="
            percentageChange >= 0 ? 'bx-up-arrow-alt' : 'bx-down-arrow-alt'
          "
        ></i>
        {{ absPercentage(percentageChange) | number : "1.1-1" }}%
      </span>
    </div>
  </div>
</div>
